<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <!--<class name="productListPageTestCase.TC_01_SortProductByAscendingOrderByName"/>-->
    <!--  <class name="productListPageTestCase.TC_02_SortProductByDescendingOrderByName"/>-->
    <class name="productListPageTestCase.TC_05_PersistenceOfSortingChoice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
